# --- Python (ESPHome 构建) ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
env/
ENV/
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# --- ESP-IDF / C++ (ESP32 编译产物) ---
# 编译输出
*.bin
*.elf
*.map
*.app
flash_project_args
sdkconfig
sdkconfig.old
build/
managed_components/

# 日志与临时文件
*.log
*.tmp
.DS_Store
Thumbs.db

# --- ESPHome  ---
.esphome/
*.frozen.json
